{{/* templates/partials/dashboard/archived-sticks.html */}}
{{define "dashboard-archived-sticks"}}
{{if .ShowArchivedSticks}}
<section class="archived-section" aria-labelledby="archived-heading">
  <h2 class="archived-heading" id="archived-heading">Archived sticks</h2>
  <div class="archived-list">
    {{range .ArchivedSticks}}
    <div class="archived-item">
      <a href="{{.DetailURL}}">{{.Name}}</a>
      {{if .RestoreForm}}{{template "stick-action-form" .RestoreForm}}{{end}}
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}
